{% extends 'magazine/magazine_base.html' %}

{% load magazine_tags %}

{% block contents %}
<p><a href="{{ issue.get_absolute_url }}" title="Back to {{ issue }}" class="issue_back_button">&laquo; Back to {{ issue }}</a></p>
<h1>{{ article.title|ampersands }}</h1>

<p class="magazine_author_tag">
    By {% spaceless %}{% include 'magazine/_authors.html' with object=article %}{% endspaceless %}.
</p>

{% if article.issue.embargoed %}
    {% if user.is_staff %}
    {% include 'magazine/_article_embargoed_staff.html' %}
    {{ article.demoted_text|safe }}
    {% else %}
    {% include 'magazine/_article_embargoed.html' %}
    <p class="magazine_article_teaser">{{ article.teaser }}</p>
    {% endif %}
{% else %}
    {{ article.demoted_text|safe }}
{% endif %}

{% include 'magazine/_about_the_authors.html' with authors=article.authors.all %}

{% endblock %}
