{% extends 'magazine/magazine_base.html' %}

{% load magazine_tags %}

{% block contents %}
<h1>{{ author }}</h1>

{% if author.details %}
    {{ author.details|linebreaks }}
{% endif %}

{% for article in articles %}
    <h2>
        <a href="{{ article.get_absolute_url }}" title="View Article">{{ article.title|ampersands }}</a>
        <span class="magazine_issue_link">(<a href="{{ article.issue.get_absolute_url }}" title="View more articles from {{ article.issue }}">{{ article.issue }}</a>)</span>
    </h2>
    <p>{{ article.teaser }}</p>
{% endfor %}

{% if book_reviews %}
<h2>Book Reviews</h2>
{% include 'magazine/_book_review_list.html' with bookreviews=bookreviews %}
{% endif %}

{% endblock %}
