{% extends 'magazine/magazine_base.html' %}

{% block contents %}
<p><a href="{{ issue.get_absolute_url }}" title="Back to {{ issue }}" class="issue_back_button">&laquo; Back to {{ issue }}</a></p>
<h1>{{ article.title }}</h1>

<p class="magazine_author_tag"><em>By <a href="{{ article.author.get_absolute_url }}" title="View other articles by {{ article.author }}">{{ article.author }}</a></em></p>

{{ article.text|linebreaks }}

{% if article.author.details %}
<div class="about_the_author">
<h2><a href="{{ article.author.get_absolute_url }}" title="View other articles by {{ article.author }}">{{ article.author }}</a></h2>
{{ article.author.details|linebreaks }}
</div>
{% endif %}

{% endblock %}